body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 696px;
  background: #fff;
  margin: auto;
  font-family: 'Arial', sans-serif;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  list-style: none;
  padding: 24px 150px 24px;
  margin: 0;
}
.gallery-item {
  display: flex;
  flex-wrap: wrap;
}
.gallery-link {
  display: flex;
  flex-wrap: wrap;
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}
.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.gallery-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(46, 47, 66, 0.8);
}
